<div class="container">
  <div class="row">
    <div id="left" class="col-md-4">


    <h3>Users List</h3>
    <h4>GET api/users</h4>
    <h5>data: user_id (optional)</h5>
    <form id ="usersListForm" role = "form">
      <div class ="form-group">
        <input class="form-control" type="text" name="initiator_id" placeholder="User ID (if included, excludes user from list)">
      </div>
      <button type="submit" value="User List" class="btn btn-default">User List</button>
      </form>

      <br><br>

      <h3>New Game Widget</h3>
      <h4>POST api/games</h4>
      <h5>data: user_id, invite_ids, game_name</h5>
      <form id="newGameForm" role="form">
        <div class ="form-group">
          <input class="form-control" type="text" name="game_name" placeholder="Game name...">
        </div>

        <div class ="form-group">
          <input class="form-control" type="text" name="initiator_id" placeholder="Your ID">
        </div>

        <div class ="form-group">
          <input class="form-control" type="text" name="invite_ids" placeholder="IDs seperated by comma...">
        </div>

        <button type="submit" value="Create Game" class="btn btn-default">
          Create Game</button>
        </form>
        <br><br>


          <h3>Game Inventory</h3>
          <h4>GET api/users/:user_id</h4>
          <h5>data: user_id</h5>
          <form id = "gameInventory" role = "form">
            <div class ="form-group">
              <input class="form-control" type="text" name="initiator_id" placeholder="Your User ID">
            </div>
            <button type="submit" value="gameinventory" class="btn btn-default">
              Game Inventory</button>
            </form>

            <br><br>
            <h3>Current Gamestate (for a user)</h3>
            <h4>GET api/games/:game_id</h4>
            <h5>data: user_id</h5>
            <form id = "currentGameState" role = "form">
              <div class ="form-group">
                <input class="form-control" type="text" name="game_id" placeholder="Game id...">
              </div>

              <div class ="form-group">
                <input class="form-control" type="text" name="initiator_id" placeholder="Your User ID">
              </div>
              <button type="submit" value="gamestate" class="btn btn-default">
                Gamestate for User</button>
              </form>

              <br><br>
              <h3>Round Recap</h3>
              <h4>GET api/games/:game_id/rounds/:round_num</h4>
              <h5>data: user_id</h5>
              <form id = "previousRoundRecap" role = "form">
                <div class ="form-group">
                  <input class="form-control" type="text" name="game_id" placeholder="Game id...">
                </div>

                <div class ="form-group">
                  <input class="form-control" type="text" name="initiator_id" placeholder="Your User ID">
                </div>
                <div class ="form-group">
                  <input class="form-control" type="text" name="round_num" placeholder="Round #">
                </div>
                <button type="submit" value="Find Previous Round Recap" class="btn btn-default">
                  Round Recap</button>
                </form>
              <br><br>




            <h3>Game Recap</h3>
            <h4>GET api/games/:game_id/recap</h4>
            <h5>data: user_id, game_id</h5>
            <form id = "gameRecap" role = "form">
              <div class ="form-group">
                <input class="form-control" type="text" name="game_id" placeholder="Game ID">
              </div>

              <div class ="form-group">
                <input class="form-control" type="text" name="initiator_id" placeholder="User ID">
              </div>

              <button type="submit" value="gamerecap" class="btn btn-default">
                Game Recap</button>
              </form>

              <br><br>

              <h3>Submit Card</h3>
              <h4>POST api/games/:game_id/cards/:card_id</h4>
              <h5>data: user_id</h5>
              <form id = "makeSubmission" role = "form">
                <div class ="form-group">
                  <input class="form-control" type="text" name="game_id" placeholder="Game id...">
                </div>

                <div class ="form-group">
                  <input class="form-control" type="text" name="initiator_id" placeholder="Your User ID">
                </div>
                <div class ="form-group">
                  <input class="form-control" type="text" name="card_id" placeholder="Card Id to submit...">
                </div>
                <button type="submit" value="gamestate" class="btn btn-default">
                  Submit Card</button>
                </form>
                <br><br>

              </div>

              <div class="col-md-8"><pre id="json"></pre></div>
            </div>

            <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
